body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    padding: 0px 200px;
    align-items: center;
    justify-content: space-between;
}
.text-primary{
    color: #FD6E0A;

}
.nav-title{
    font-size: 40px;
    font-weight: 800;
}

nav>ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20px;

}
nav a{
    text-decoration: none;
    color: gray;
}
.btn-primary{
    background-color:#FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

/* header related style */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    height: 500px;
}